:root {
  --numRows: 0;
  --numCols: 0;
  --boardWidth: 600px;
  --boardHeight: 600px;
  --tileSize: 0px;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--numCols), var(--tileSize));
  grid-template-rows: repeat(var(--numRows), var(--tileSize));
  width: var(--boardWidth);
  height: var(--boardHeight);
  background-color: fuchsia;
}