.App {
  display: grid;
  height: 100vh;
  background-color: rgb(52, 50, 64);
}

#board-style {
  padding: 25px;
  float: left;
}

#content-style {
  padding: 25px;
  float: left;
  text-align: center;
  background-color: gray;
}

#moveList {
  color: rgb(107, 255, 136);
}

#turnText {
  padding: 10px;
  color: rgb(107, 255, 136);
}

button {
  margin: 10px;
  color: black;
}